 <%- include("partials/header") %>        

  <body class="home page-template-default page page-id-2039 gdlr-core-body financity-body financity-body-front financity-full  financity-with-sticky-navigation gdlr-core-link-to-lightbox">
    <%- include("partials/mobile-nav") %> 
      
    <div class="financity-body-outer-wrapper ">
      <div class="financity-body-wrapper clearfix  financity-with-transparent-navigation financity-with-frame">
        <%- include("partials/fullNav") %>  
        <%- include("group/landing") %>
        <%- include("group/section1") %>            
        <%- include("group/section2") %>     <!-- Our Services -->
        <%- include("group/section3") %>     <!-- Contact us Section 3 -->                
          <!-- Our Cases Section 4 -->             
        <%- include("group/section5") %>      <!-- Crediibility Grid Section 5 -->     
        <%- include("group/section6") %>      <!-- CEO Speech Section 6 -->       
        <%- include("group/section7") %>      <!-- Latest News Section 7 -->      
        <%- include("group/section8") %>      <!-- Testimonials Section 8 --> 
        <%- include("group/section9") %>      <!-- Success story Section 9 -->
        <div id="signup">
          <%- include("group/section10") %>      <!-- Register with us Section 10 -->
        </div>
        <!-- Login to your account Section 11 -->
      </div>
    </div>
    <%- include("partials/footer") %>

    